---
name: home
url: /
controller: HomeController
---

<div class="grid-container">
  <h1>Welcome to Foundation for Apps!</h1>
  <p class="lead">Current user is:<strong>{{username}}</strong>.</p>
  <div class="dark card">
    <img src="https://lh5.googleusercontent.com/-Rbs8hEn26I8/VSSXxrTim3I/AAAAAAAAE7Q/qXBWUKzzG80/w1598-h899-no/20150322_181414.jpg" height="200" width="400">
    <div class="card-divider">
      The real fbody
    </div>
    <div class="card-section">
      <h4>Repaint</h4>
      <p>Needed a complete overall on the body after being destroyed by a con shop.</p>
    </div>
  </div>
</div>
